@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700&display=swap');



/*----------------------------------------- LANDING*/

.landing {
    background-image: url('../images/landing3.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 255, 0, 1);
    z-index: 1;
}


body {
    padding: 0;
}

html,
body,
header,
#intro {
    height: 100%;
    width: 100%;
    color: #e8dcff;


}



#intro {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;


}


.content {
    margin-top: 12%;
    font-family: 'Exo', sans-serif;


}

h2 {
    font-size: 3em;
}

h4 {
    padding-top: 50%;
}


.btn-outline {
    color: #e8dcff;
    margin-top: 5%;
}

.btn-outline:hover {
    color: rgba(0, 200, 20, 0.7);
}

/*section {*/

/*    text-align: center;*/

/*}*/

/*-------------------------------------------------------NAV*/

nav {
    color: #e8dcff;
    text-align: center;
    font-family: 'Exo', sans-serif;
    padding-top: 2%;


}

nav a {
    color: #e8dcff;
    ;
    text-decoration: none;

}




a:hover {
    color: #e8dcff;
    right: 0;
    text-decoration: none;
}

a:hover:after {
    border-color: #e8dcff;
    right: 0;
}

a:after {
    border-radius: 1em;
    border-top: .1em solid #e8dcff;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
    transition: right .4s cubic-bezier(0, .5, 0, 1),
    border-color .4s ease-out;
}

a:hover:after {
    right: 0;
}



/*----------------------------------------- ABOUT*/

/*.about {*/

/*    background-image: url('../images/about4.jpg');*/

/*    height: 95%;*/

/*background-attachment: fixed;*/

/*    background-position: center;*/

/*    background-repeat: no-repeat;*/

/*    background-size: cover;*/

/*    border: 1px solid rgba(0, 255, 0, 1);*/

/*}*/

/*.info {*/

/*    width: 80%;*/

/*    padding-top: 5%;*/

/*    padding-left: 3%;*/

/*    font-family: "Exo", sans-serif;*/

/*    color: #000000;*/

/*}*/

/*.info h1 {*/

/*    font-size: 2em;*/

/*    text-decoration: underline;*/

/*}*/

/*.info p {*/

/*    padding-top: 5%;*/

/*}*/

/*----------------------------------------- CONTACT*/

/*.contact {*/

/*    background-image: url('../images/contact3.jpg');*/

/*    height: 100%;*/

/*    background-attachment: fixed;*/

/*    background-position: center;*/

/*    background-repeat: no-repeat;*/

/*    background-size: cover;*/

/*    border: 1px solid rgba(0, 255, 0, 1);*/

/*}*/

/*.footer {*/

/*    position: absolute;*/

/*    bottom: 10;*/

/*}*/

/*.iconwrappper {*/

/*    text-align: center;*/

/*}*/

/*.icon {*/

/*    display: inline-block;*/

/*    text-align: center;*/

/*}*/

/*.icon a {
	padding: 10px;
}*/

/*.fa {*/

/*    padding-top: 7px;*/

/*    font-size: 30px;*/

/*    height: 30px;*/

/*    width: 30px;*/

/*    text-align: center;*/

/*    text-decoration: none;*/

/*    border-radius: 50%;*/

/*    background: #557a78;*/

/*    color: white;*/

/*    opacity: 0.2;*/

/*}*/

/*.fa:hover {*/

/*    opacity: 0.9;*/

/*    text-decoration: none;*/

/*    color: #f7f8f8;*/

/*}*/

/*.fa-youtube {*/

/*    padding-left: 1px;*/

/*}*/

/*.icon a {*/

/*    margin: 20px;*/

/*}*/

/*.line2 {*/

/*    height: 70px;*/

/*}*/

@media (min-height: 750px) {

    h4 {
        margin-top: 70%;
    }

}

@media (max-height: 500px) {

    .btn {
        margin-top: 0px;
    }
    
    h4 {
        margin-top: 0%;
        padding-top: 0%;
    }

}




@media (min-width: 600px) {

    h4 {
        padding-top: 0px;
    }

}



@media (min-width: 992px) and (max-width: 1600px) {

    h4 {
        margin-top: 70%;
    }

}












/*-----------------------------------------------------------------MEDIA QUERIES*/

/*@media (orientation:landscape) {*/

/*    .heading {*/

/*        padding: 0;*/

/*        margin-top: 70px;*/

/*        font-size: 100%;*/

/*    }*/

/*    .slogan {*/

/*        margin-top: 50px;*/

/*        line-height: 120%;*/

/*    }*/

/*}*/

/*---------------------THIN-MOBILES*/

/*@media (max-width: 450px) and (min-height: 800px) {*/

/*    .heading {*/

/*    padding-top: 15%;*/

/*    width: 75%;*/

/*    }*/

/*    .company-name {*/

/*        font-size: 2.5em;*/

/*    }*/

/*    .slogan {*/

/*        font-size: 1.5em;*/

/*        padding-top: 120px;*/

/*    }*/

/*}*/

/*----------------------------------------------------------*/

/*MOBILES*/

/*@media (max-width:767px) {*/

/*    .heading {*/

/*        width: 100%;*/

/*        margin: auto;*/

/*    }*/

/*    .company-name {*/

/*        font-size: 2.8em;*/

/*    }*/

/*    .full-title {}*/

/*    .slogan {*/

/*        font-size: 1.5em;*/

/*        margin-top: 120px;*/

/*    }*/

/*}*/

/*------------------------------------------------------*/

/*TABLETS*/

/*@media (min-width: 768px) and (max-width: 991px) {*/

/*    .heading {*/

/*       padding-top: 20%;*/

/*        width: 75%;*/

/*        margin: auto;*/

/*    }*/

/*    .company-name {*/

/*        letter-spacing: 3px;*/

/*        font-size: 3em:*/

/*    }*/

/*    .slogan {*/

/*        font-size: 2em;*/

/*    }*/

/*}*/

/*------------------------------------------------------*/

/*SMALL-DESKTOPS*/

/*@media (min-width: 992px) and (max-width: 1600px) {*/

/*    .heading {*/

/*        padding-top: 8%;*/

/*        width: 70%;*/

/*        margin: auto;*/

/*    }*/

/*    .company-name {*/

/*        font-size: 4em;*/

/*    }*/

/*    .slogan {*/

/*        font-size: 2em;*/

/*    }*/

/*}*/

/*}*/

/*----------------------LARGE-DESKTOPS*/

/*@media (min-width: 1601px) {*/

/*    .heading {*/

/*        padding-top: 8%;*/

/*        width: 60%;*/

/*        margin: auto;*/

/*    }*/

/*    .company-name {*/

/*    }*/

/*    .full-title {*/

/*        padding-top: 5%;*/

/*    }*/

/*    .slogan {*/

/*        font-size: 2.5em;*/

/*        padding-top: 7%;*/

/*    }*/

/*}*/

/*----------------------TALL-DEVICES*/

/*@media (min-height: 1100px) {*/

/*    .heading {*/

/*        padding-top: 20%;*/

/*        width: 60%;*/

/*        margin: auto;*/

/*    }*/

/*    .company-name {*/

/*        font-size: 6em;*/

/*    }*/

/*    .slogan {*/

/*        font-size: 2.5em;*/

/*    }*/

/*}*/

/*------------------------------------------------------------------------*/

/*@media (max-height: 540px) {*/

/*    .full-title{*/

/*        font-size: .5em;*/

/*    }*/

/*}*/

/*------------------------------------------------------------------------*/

/*.heading {*/

*/
/*    font-family: 'Exo', sans-serif;*/

/*    color: #e8dcff;*/

/*    text-align: center;*/

/*    width: 70%;*/

/*    margin: auto;*/

/*    padding-top: 25%;*/

/*}*/

/*h1 {}*/

/*.slogan {*/

/*    text-align: center;*/

/*    text-transform: uppercase;*/

/*    font-family: "Exo", sans-serif;*/

/*    font-weight: 300;*/

/*    font-size: 2em;*/

/*    margin-top: 200px;*/

/*}*/
